$min-width: 310px;
$max-width: 1220px;
$base-font-size: 14px;
$base-line-height: 1.5;

$base-font: "OpenSans-Regular", sans-serif;


$transition: all .2s ease-out;

$dark: #3D3D3D;

$darkgrey: #3D3D3D;
$g3: #858181;
$g4: #CCCCCC;
$g2: #E5E5E5;
$g1: #EFEEE9;

$white: #FFFFFF;

$yellow: #F9ED37;
